<main>
  <div class="central-page">
    <h4>outside of my professional life, i like to focus my energy on creative pursuits</h4>
    <h2>here are a few of those endeavors</h2>
  
    <div id="music">
  
      <p>
        <iframe style="border: 0; width: 400px; height: 120px;" src="https://bandcamp.com/EmbeddedPlayer/album=1127597564/size=large/bgcol=ffffff/linkcol=0687f5/tracklist=false/artwork=small/transparent=true/" seamless><a href="https://candlepinrecords.bandcamp.com/album/blank-conduct">Blank Conduct by Stalled</a></iframe>    </p>
  
      <p>
        <iframe style="border: 0; width: 400px; height: 120px;" src="https://bandcamp.com/EmbeddedPlayer/album=1947903358/size=large/bgcol=ffffff/linkcol=0687f5/tracklist=false/artwork=small/transparent=true/" seamless><a href="https://candlepinrecords.bandcamp.com/album/purple-flowers-mixtape">Purple Flowers Mixtape by Candlepin Records</a></iframe>
      </p>
  
      <p>
        <iframe style="border: 0; width: 400px; height: 120px;" src="https://bandcamp.com/EmbeddedPlayer/album=4179102687/size=large/bgcol=ffffff/linkcol=0687f5/tracklist=false/artwork=small/transparent=true/" seamless><a href="https://scifisleepcycles.bandcamp.com/album/you-tomorrow">You, Tomorrow by Sci-Fi Sleep Cycles</a></iframe>
      </p>
  
    </div>
  
    <div id="video">
      <p>
        <iframe src="https://player.vimeo.com/video/208215908?color=ffffff&portrait=0" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
      </p>
  
      <p>
        <iframe src="https://player.vimeo.com/video/188439066" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
      </p>
    </div>
  </div>
</main>
