<section id="page">
  <div id="blurb">
    <h2>
      full-stack developer, filmmaker, musician... <br>
    </h2>
    <h3>
      constant creation across many different mediums is what keeps me sane <br>
      i live to learn and expand on my skills with every project
    </h3>
    <h2>
      let's connect
    </h2>
    <ul id="links">
      <li>
        <img src="https://image.flaticon.com/icons/png/512/61/61109.png">
      </li>
      <li>
        <img src="https://image.flaticon.com/icons/png/512/25/25231.png">
      </li>
    </ul>
  </div>
</section>
