#page{
  display: flex;
  height: 80%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#blurb{
  text-align: center;
  align-items: center;
  margin-top: 10%;
  width: 60%;
  height: auto;
}
#links{
  display: inline-flex;
  flex-direction: row;
  justify-content: space-between;
  width: 80%;

}
img{
  width: auto;
  max-width: 70px;
  padding: 2%;
}
img:hover{
  transform: scale(1.1);
}
ul{
  padding-left: 0;
}
