<section id="page">
  <div id="blurb">
    <h2>
      full-stack developer, filmmaker, musician... <br>
    </h2>
    <h3>
      constant creation across many different mediums is what keeps me sane <br>
      i live to learn and expand on my skills with every project
    </h3>
    <ul id="links">
      <li class="link-icon">
        <a href="/assets/Jack%20Curtin%20Resume%20July%202021.pdf" target="_blank">
          <img src="https://cdn4.iconfinder.com/data/icons/online-course-2/512/resume-degree-job-applicant-512.png">

        </a>
        <br>
        <label>resume</label>
      </li>
      <li class="link-icon">
        <a href="https://www.linkedin.com/in/jack-curtin-a08b28210/" target="_blank">
          <img src="https://image.flaticon.com/icons/png/512/61/61109.png">
        </a>
        <br>
        <label>LinkedIn</label>
      </li>
      <li class="link-icon">
        <a href="https://github.com/jackcurtin" target="_blank">
          <img src="https://image.flaticon.com/icons/png/512/25/25231.png">
        </a>
        <br>
        <label>GitHub</label>
      </li>
    </ul>
  </div>
</section>
