nav{
  background-color: black;
  color: whitesmoke;
  width: 100vw;
}
mat-list{
  display: inline-flex;
  margin: 0;
  width: 45%;
}
mat-list-item{
  width: auto;
  margin: 0;
  padding: 0;
}
mat-list-item:hover{
  background-color: grey;
  cursor: pointer;

}
h4:active{
  background-color: lightgrey;
}
h4{
  color: whitesmoke;
  text-align: center;
  width: 100%;
  text-wrap: none;
  margin: 0;
}
h1{
  margin: 0% 1% 0.5% 1%;
  padding-top: 0.5%;
}
about{
  width: content-box;
}
