section{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  width: 100%;
}
mat-card{
  display: flex;
  margin: 0;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
mat-card:hover{
  background-color: palegreen;
}
#expo{
  flex-direction: row;
  text-align: right;
  justify-content: space-between;
  margin: 2% 1%;
  width: 100%;
  background-color: lightsteelblue;
}
#projects{
  display: flex;
  flex-direction: column;
  justify-items: center;
  width: 60%;
  margin-bottom: 7%;
}
a{
  margin: 1%;
  width: 100%;
}
.program-icon{
  width: 83px;
  height: 83px;
}
.project-card{
  width: 100%;
}
#heading{
  justify-items: center;
  width: 70%;
  margin-top: 7%;
}
mat-card-subtitle{
  margin: 0;
}
mat-card-content{
  margin-top: 1%;
  font-size: medium;
}
h6{
  margin: 0;
  font-size: small;
  font-style: italic;
}
