section{
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  overflow-y: auto;

}
mat-card{
  width: 100%;
  margin: 0;
}
mat-card:hover{
  background-color: palegreen;
}
#expo{
  text-align: right;
  margin: 3% 0;
  width: 60%;
}
#projects{
  display: flex;
  flex-direction: column;
  width: 50%;
}
a{
  margin: 1%;
}
