<section>
  <mat-card id="expo">
    <mat-card-title>
      my journey as a developer
    </mat-card-title>
    <mat-card-subtitle>
      here are a few of my experiences as i have gathered knowledge as a programmer.<br>
      each card below acts as a link to the project.
    </mat-card-subtitle>
  </mat-card>
  <div id="projects">
    <a *ngFor="let program of programList" href="{{program.link}}">
      <mat-card>
        <div class="card-text">
          <mat-card-title>
            {{program.title}}
          </mat-card-title>
          <mat-card-subtitle>
            {{program.tech}}
          </mat-card-subtitle>
          <mat-card-content>
            {{program.tagline}}
          </mat-card-content>
          <h6 *ngIf="program.caveat">{{program.caveat}}</h6>
        </div>
        <img src="{{program.icon}}" class="program-icon">
      </mat-card>
    </a>
  </div>
</section>
