<section>
  <mat-card id="expo">
    <mat-card-title>
      my journey as a developer
    </mat-card-title>
    <mat-card-subtitle>
      here are a few of my experiences as i have gathered knowledge as a programmer.<br>
      each card below acts as a link to the project.
    </mat-card-subtitle>
  </mat-card>
  <div id="projects">
    <a href="https://next-groove.herokuapp.com/welcome" target="_blank">
      <mat-card id="next-groove">
        <mat-card-title>
          next groove
        </mat-card-title>
        <mat-card-subtitle>
          angular, java springboot, & postgres
        </mat-card-subtitle>
        <mat-card-content>
          algorithmic playlists for vinyl enthusiasts
          <h6>please give the site a few minutes to load information from the database</h6>
        </mat-card-content>
      </mat-card>
    </a>
    <a href="https://jackcurtin.github.io/tic_tac_toe/" target="_blank">
      <mat-card>
        <mat-card-title>
          new age tic-tac-toe
        </mat-card-title>
        <mat-card-subtitle>
          html, css, javascript
        </mat-card-subtitle>
        <mat-card-content>
          a stress-free platform for your tic-tac-toe needs
        </mat-card-content>
      </mat-card>
    </a>
    <a>
      <mat-card>
        <mat-card-title>
          wayfarer
        </mat-card-title>
        <mat-card-subtitle>
          angular
        </mat-card-subtitle>
        <mat-card-content>
          a mock-social media platform for connecting about travel
        </mat-card-content>
      </mat-card>
    </a>
  </div>
</section>
