<h1 mat-dialog-title>let's connect</h1>
<div mat-dialog-content>
  <p>i'll get back to you as soon as i can</p>
  <mat-form-field>
    <mat-label>email address</mat-label>
    <input matInput [(ngModel)]="emailAddress">
  </mat-form-field>
  <mat-form-field>
    <mat-label>message</mat-label>
    <input matInput [(ngModel)]="message">
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="sendEmail(this.emailAddress, this.message)" cdkFocusInitial>Send</button>
</div>
